numpy # Tested with 1.19.2
matplotlib # Tested with 3.3.2
math # Built-in python
photutils # Tested with 1.2.0
marvin # Tested with 2.7.1
scipy # Tested with 1.6.2
pickle # Built-in python
csv # Tested with 1.0